.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.v-application .pa-05 {
    padding: 2px !important;
}

// background for card layouts
.theme--light.v-application, .theme--light .card-layout-bg, html.light {
    background: #f2f2f2;
}

.theme--dark.v-application, .theme--dark .card-layout-bg, html.dark {
    background: #303030;
}

// more condense card layout for smol devices
@media screen and (max-width: 540px) {
    .cards-page-container {
        // compensate .container padding
        margin: -12px !important;

        > .v-sheet.v-card, > .v-simple-card.v-card, .page-card, .v-alert {
            border-radius: 0 !important;
            box-shadow: none !important;

            > .v-card__text {
                padding: 12px;
            }

            > .v-card__title {
                padding-bottom: 0;
            }
        }

        .v-alert {
            margin-bottom: 8px;
        }

        & > h1, & > h2, & > h3, & > .page-heading {
            margin-left: 12px !important;
        }
    }

    .v-dialog {
        margin: 16px;
    }
}

// fix for safari because safari stinks
html, body, #app, .v-application {
    height: 100%!important;
}

.v-application--wrap {
    min-height: 100%!important;
}
